Repository Im-Rises/PacManUnity, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, readme, github-actions, assets, project-settings, ProjectSettings

wip
  Assets/Inputs/PlayerInputs.inputactions
  Assets/Scripts/SettingsController/SettingsController.cs
  Assets/Scripts/TitleScreen/TitleScreenHandler.cs
Labels: assets

Destruction
  Assets/Prefabs/Player/Player.prefab
  Assets/Scenes/Levels/OriginalLevel.unity
  Assets/Scripts/GamePauseUi/GamePauseUiHandler.cs
  Assets/Scripts/LevelInputHandler.meta
  Assets/Scripts/LevelInputHandler/LevelInputHandler.cs
  Assets/Scripts/LevelInputHandler/LevelInputHandler.cs.meta
  Assets/Scripts/Player/PlayerController.cs
Labels: assets

wip
  Assets/Scenes/Levels/OriginalLevel.unity
  Assets/Scripts/GamePauseUi/GamePauseUiHandler.cs
  Assets/Scripts/LevelInputHandler/LevelInputHandler.cs
Labels: assets

Correted buttons init position
  Assets/Prefabs/LevelInputHandler.meta
  Assets/Prefabs/LevelInputHandler/LevelInputHandler.prefab
  Assets/Prefabs/LevelInputHandler/LevelInputHandler.prefab.meta
  Assets/Scenes/Levels/CustomLevel1.unity
  Assets/Scenes/Levels/CustomLevel2.unity
  Assets/Scenes/Levels/OriginalLevel.unity
  Assets/Scripts/GameHandler/GameHandler.cs
  Assets/Scripts/GamePauseUi/GamePauseUiHandler.cs
  Assets/Scripts/LevelInputHandler/LevelInputHandler.cs
  Assets/Scripts/SettingsController/SettingsController.cs
  Assets/Scripts/TitleScreen/TitleScreenHandler.cs
  Assets/StreamingAssets.meta
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json.meta
  ProjectSettings/EditorBuildSettings.asset
Labels: assets

v1.0
  Build/pac-man-game.framework.js
Labels: none

wip
  Assets/Scripts/GameHandler/GameHandler.cs
  Assets/Scripts/GamePauseUi/GamePauseUiHandler.cs
  Assets/Scripts/LevelInputHandler/LevelInputHandler.cs
  Assets/Scripts/Player/PlayerController.cs
  Assets/Scripts/Player/PlayerLife.cs
  Assets/StreamingAssets.meta
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json.meta
Labels: assets

Corrected game inputs
  Assets/Scripts/LevelInputHandler/LevelInputHandler.cs
  Assets/Scripts/Player/PlayerController.cs
Labels: assets

New version
  Build/Build.framework.js
  Build/Build.loader.js
  Build/pac-man-game.framework.js
Labels: none

New version
  index.html
Labels: repo

wip
  Assets/Scenes/Levels/CustomLevel1.unity
  Assets/Scenes/Levels/CustomLevel2.unity
  Assets/Textures/Icon.meta
  Assets/Textures/Icon/icon.png
  Assets/Textures/Icon/icon.png.meta
  Assets/Textures/Icon/icon.png~
  Krita/krita_pacman_sprites.kra~
  ProjectSettings/ProjectSettings.asset
  README.md
Labels: repo, readme, assets

wip
  Assets/Scenes/LevelSelector.unity
  Assets/Scripts/GameHandler/GameHandler.cs
  Assets/Scripts/LevelSelector/LevelSelectorHandler.cs
  Assets/Scripts/MusicHandler/MusicHandler.cs
  README.md
Labels: repo, readme, assets

.
  Build/pac-man-game.framework.js
Labels: none

wip
  Assets/Scenes/Levels/CustomLevel1.unity
  Assets/Scenes/Levels/CustomLevel2.unity
  Assets/Scenes/Levels/OriginalLevel.unity
  Assets/Scripts/MusicHandler/MusicHandler.cs
Labels: assets

Decrease difficulty
  Assets/Scripts/Ghosts/GhostAiMovement.cs
  Assets/StreamingAssets.meta
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json.meta
Labels: assets

Update readme.md
  Assets/StreamingAssets.meta
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json.meta
  README.md
Labels: repo, readme, assets

Update README.md
  README.md
Labels: repo, readme

wip
  Assets/Prefabs/SettingsUI/SettingsUi.prefab
  Assets/Scenes/Credits.unity
  Assets/Scenes/LevelSelector.unity
  Assets/Scenes/Levels/CustomLevel1.unity
  Assets/Scenes/Levels/CustomLevel2.unity
  Assets/Scenes/Levels/OriginalLevel.unity
  Assets/Scenes/TitleScreen.unity
  Assets/Scripts/HighlightEvents.meta
  Assets/Scripts/HighlightEvents/HighlightEvents.cs
  Assets/Scripts/HighlightEvents/HighlightEvents.cs.meta
  Assets/Scripts/SettingsController/SettingsController.cs
Labels: assets

wip
  Assets/StreamingAssets.meta
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json.meta
Labels: assets

Corrected UI
  Build/pac-man-game.framework.js
Labels: none

Corrected timer's end bug
  Assets/Scripts/GameHandler/GameHandler.cs
Labels: assets

Corrected some bugs
  Build/pac-man-game.framework.js
Labels: none

Corrected some bugs
  Assets/Scripts/SettingsController/SettingsController.cs
  Assets/StreamingAssets.meta
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json
  Assets/StreamingAssets/UnityServicesProjectConfiguration.json.meta
Labels: assets

Update ?
  Build/pac-man-game.framework.js
Labels: none

refresh?
  Build/pac-man-game.framework.js
  Build/pac-man-game.loader.js
  StreamingAssets/UnityServicesProjectConfiguration.json
  TemplateData/favicon.ico
  TemplateData/fullscreen-button.png
  TemplateData/progress-bar-empty-dark.png
  TemplateData/progress-bar-empty-light.png
  TemplateData/progress-bar-full-dark.png
  TemplateData/progress-bar-full-light.png
  TemplateData/style.css
  TemplateData/unity-logo-dark.png
  TemplateData/unity-logo-light.png
  TemplateData/webgl-logo.png
  index.html
Labels: repo

Corrected some bugs
  Build/pac-man-game.framework.js
  Build/pac-man-game.loader.js
  StreamingAssets/UnityServicesProjectConfiguration.json
  TemplateData/favicon.ico
  TemplateData/fullscreen-button.png
  TemplateData/progress-bar-empty-dark.png
  TemplateData/progress-bar-empty-light.png
  TemplateData/progress-bar-full-dark.png
  TemplateData/progress-bar-full-light.png
  TemplateData/style.css
  TemplateData/unity-logo-dark.png
  TemplateData/unity-logo-light.png
  TemplateData/webgl-logo.png
  index.html
Labels: repo

wip
  Assets/Scenes/Levels/CustomLevel1.unity
  Assets/Scenes/Levels/CustomLevel2.unity
  Assets/Scenes/Levels/OriginalLevel.unity
  Assets/Scripts/GameHandler/GameStartHandler.cs
  Assets/Scripts/LevelInputHandler/LevelInputHandler.cs
  Assets/Scripts/SettingsController/SettingsController.cs
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/BurstAotSettings_StandaloneLinux64.json
  ProjectSettings/BurstAotSettings_StandaloneOSX.json
  README.md
Labels: repo, readme, assets

Update README.md
  README.md
Labels: repo, readme

Update README.md
  README.md
Labels: repo, readme

wip
  Assets/Prefabs/Ghosts/BlueGhost.prefab
  Assets/Prefabs/Ghosts/GhostScoreDisplayer.prefab
  Assets/Prefabs/Ghosts/GhostScoreDisplayer.prefab.meta
  Assets/Prefabs/Ghosts/OrangeGhost.prefab
  Assets/Prefabs/Ghosts/PinkGhost.prefab
  Assets/Prefabs/Ghosts/RedGhost.prefab
  Assets/Scenes/Levels/CustomLevel1.unity
  Assets/Scenes/Levels/CustomLevel2.unity
  Assets/Scenes/Levels/OriginalLevel.unity
  Assets/Scripts/GameHandler/GameHandler.cs
  Assets/Scripts/Ghosts/GhostAiMovement.cs
  Assets/Scripts/Ghosts/GhostScoreDisplayer.cs
  Assets/Scripts/Ghosts/GhostScoreDisplayer.cs.meta
  Assets/Textures/SpriteFont.meta
  Assets/Textures/SpriteFont/digits.png
  Assets/Textures/SpriteFont/digits.png.meta
  Assets/Textures/SpriteFont/digits.png~
  Assets/Textures/SpriteFont/digits1600.png
  Assets/Textures/SpriteFont/digits1600.png.meta
  Assets/Textures/SpriteFont/digits1600.png~
  Krita/krita_digits1600.kra
  Krita/krita_fonts.kra
  Krita/spritefont.png
  README.md
Labels: repo, readme, assets

Corrected som bugs and added some little features
  Build/pac-man-game.framework.js
Labels: none

Corrected bugs and some added features
  Assets/Prefabs/Ghosts/BlueGhost.prefab
  Assets/Prefabs/Ghosts/GhostScoreDisplayer.prefab
  Assets/Prefabs/Ghosts/OrangeGhost.prefab
  Assets/Prefabs/Ghosts/PinkGhost.prefab
  Assets/Prefabs/Ghosts/RedGhost.prefab
  Assets/Prefabs/Player/Player_3rdPerson.prefab
  Assets/Scenes/Levels/CustomLevel2.unity
  Assets/Scripts/CameraMovement.meta
  Assets/Scripts/CameraMovement/CameraMovemenThirdPerson.cs
  Assets/Scripts/CameraMovement/CameraMovemenThirdPerson.cs.meta
  Assets/Scripts/GameHandler/GameHandler.cs
Labels: assets

wip
  LICENSE
Labels: repo

.github/labeler.yml:

repo:
  - '*'

readme:
  - 'README.md'

github-actions:
  - '.github/**/*.yml'

assets:
  - 'Assets/**/*'

project-settings:
  - '.editorconfig'
  - '.gitattributes'
  - '.gitignore'
  - '.gitmodules'

ProjectSettings:
  - 'PacManUnity/ProjectSettings/**/*'
